<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Employee Records</title>  
     {% load static %}  
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>고객</th>  
        <th>거래</th>  
        <th>상품</th>  
        <th>CSV 업로드</th> 
        <th>특수조건검색</th>  
    </tr>  
    </thead>  
    <tbody>  
    <tr>  
        <td>
            <a href="/show/customer"><span class="glyphicon glyphicon-pencil" >고객 테이블 입력</span></a>
        </td>  
        <td>
            <a href="/show/transaction"><span class="glyphicon glyphicon-pencil" >거래 테이블 입력</span></a>
        </td>  
        <td>
            <a href="/show/product"><span class="glyphicon glyphicon-pencil" >상품 테이블 입력</span></a>
        </td>  
        <td>
            <a href="/CSVUpload"><span class="glyphicon glyphicon-pencil" >CSV 업로드</span></a>
        </td> 
        <td>
            <a href="/specialSearch"><span class="glyphicon glyphicon-pencil" >특수 조건 검색</span></a>
        </td>  
    </tr>  
    </tbody>  
</table>  
<br>
<br>
<center><a href="/deleteAll" class="btn btn-primary">Delete ALL Data(고객, 거래, 상품)</a></center> 

<br>
<br>
<label>부산대학교 정보컴퓨터공학부 201624642 김남규, Database HW2</label> 
 
</body>  
</html>
