<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Customer Records</title>  
     {% load static %}  
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Customer name</th>  
        <th>Customer phone</th>  
        <th>Customer address</th>  
        <th>Customer gender</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for customer in customers %}  
    <tr>  
        <td>{{ customer.name }}</td>  
        <td>{{ customer.phone }}</td>  
        <td>{{ customer.address }}</td>  
        <td>{{ customer.gender }}</td>  
        <td>  
            <a href="/edit/customer/{{ customer.name }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/customer/{{ customer.name }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/emp/customer" class="btn btn-primary">Add New Record</a></center>  
<br> 
<br> 
<center>
    <form method="POST" class="post-form" action="/search/">  
        {% csrf_token %}  
        <div class="container">  
        <label for="col">Choose a column:</label>
        <div class="form-group row">  
        <select name="col" id="col">
            <option value="name">name</option>
            <option value="phone">phone</option>
            <option value="address">address</option>
            <option value="gender">gender</option>
        </select>

        <input type="text" name="search" id="id_search" required maxlength="100" placeholder="search" /> 
      </div>  
      

        <button type="submit" class="btn btn-primary">Search</button>  

    </div>  
    </form> 
</center>
</body>  
</html>
