<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %}  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/update/transaction/{{transaction.id}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
  <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Transaction Number:</label>  
    <div class="col-sm-4">  
        <input type="text" name="transactionNumber" id="id_transactionNumber" required maxlength="20" value="{{ transaction.transactionNumber }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Transaction productID:</label>  
    <div class="col-sm-4">  
        <input type="text" name="productID" id="id_productID" required maxlength="100" value="{{ transaction.productID }}" />  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Transaction price:</label>  
    <div class="col-sm-4">  
        <input type="text" name="price" id="id_price" required maxlength="254" value="{{ transaction.price }}" />  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Transaction date:</label>  
    <div class="col-sm-4">  
        <input type="text" name="date" id="id_date" required maxlength="15" value="{{ transaction.date }}" />  
    </div>  
  </div>  
 
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Transaction customerName:</label>  
    <div class="col-sm-4">  
        <input type="text" name="customerName" id="id_customerName" required maxlength="15" value="{{ transaction.customerName }}" />  
    </div>  
  </div> 
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>