<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Transaction Records</title>  
     {% load static %}  
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Transaction number</th>  
        <th>Transaction product id</th>  
        <th>Transaction price</th>  
        <th>Transaction date</th>  
        <th>Transaction customerName</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for transaction in transactions %}  
    <tr>  
        <td>{{ transaction.transactionNumber }}</td>  
        <td>{{ transaction.productID }}</td>  
        <td>{{ transaction.price }}</td>  
        <td>{{ transaction.date }}</td>  
        <td>{{ transaction.customerName }}</td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/emp/transaction" class="btn btn-primary">Add New Record</a></center>  
<br> 
<br> 
<center>
    <form method="POST" class="post-form" action="/searchTransaction/">  
        {% csrf_token %}  
        <div class="container">  
        <label for="col">Choose a column:</label>
        <select name="col" id="col">
            <option value="transactionNumber">transactionNumber</option>
            <option value="productID">productID</option>
            <option value="price">price</option>
            <option value="date">date</option>
            <option value="customerName">customerName</option>
        </select>

        <input type="text" name="search" id="id_search" required maxlength="100" placeholder="search" /> 
      </div>  
      

        <button type="submit" class="btn btn-primary">Search</button>  

    </div>  
    </form> 
</center>


</body>  
</html>
