<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Product Records</title>  
     {% load static %}  
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Product name</th>  
        <th>Product id</th>  
        <th>Product supplier Name</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for product in products %}  
    <tr>  
        <td>{{ product.name }}</td>  
        <td>{{ product.productID }}</td>  
        <td>{{ product.supplierName }}</td>  
        <td>  
            <a href="/edit/product/{{ product.name }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/product/{{ product.name }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/emp/product" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>
